@import "bourbon/bourbon";

//
// Cross-browser gradient mixin by Andy Howells.
// https://gist.github.com/andyunleashed/2700286
//
@mixin linear-gradient($fromColor, $toColor, $image: '') {
    background: $toColor;
    @if str-length($image) > 1 {
        $image: unquote('#{$image}, ');
    }
    background: #{$image}-webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); //Saf4+, Chrome
    background: #{$image}-webkit-linear-gradient(top, $fromColor, $toColor); //Chrome 10+, Saf5.1+, iOS 5+
    background: #{$image}-moz-linear-gradient(top, $fromColor, $toColor); //FF3.6
    background: #{$image}-ms-linear-gradient(top, $fromColor, $toColor); //IE10
    background: #{$image}-o-linear-gradient(top, $fromColor, $toColor); //Opera 11.10+
    background: #{$image}linear-gradient(to bottom, $fromColor, $toColor);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$fromColor}', EndColorStr='#{$toColor}')";
}

//
// Cross-browser opacity mixin
// https://css-tricks.com/snippets/css/cross-browser-opacity/
//
@mixin opacity($opacity) {
    $opacity_percent: $opacity * 100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity_percent})";
    filter: alpha(opacity=$opacity_percent);
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity; // Safari 1.x
    opacity: $opacity;
}
