$standard-color: #d8d8e8;
$mega-color: #a8e8e8;
$giga-color: #f0c8e0;
$dark-color: #b088d0;
$secret-color: #c3c3d3;

$dt-color1: #52789f;
$dt-color2: #81a0c1;

$damage-color: #a01313;
$recovery-color: #449218;
